.*
*.css
*.html
~*.*x

/demo
/doc
build
/html/*.html
/images/**
!/images/index.js
!/images/images.js
/jsdoc-template-hypergrid
/src/jsdoc
/test

/gulpfile.js
/*.sh
/*.md

/src/behaviors/index.js
/src/lib/index.js
